
<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [radius]="100"
        [percent]="50"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [innerStrokeWidth]="8"
        [outerStrokeWidth]="8"
        [innerStrokeColor]="'#2471A3'"
        [outerStrokeColor]="'#E64A19'"
        [animationDuration]="600"
        [animation]="true">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [radius]="100"
        [percent]="65"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageSrc]="'../assets/Ps y Ae.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [innerStrokeWidth]="8"
        [outerStrokeWidth]="8"
        [innerStrokeColor]="'#3F51B5'"
        [outerStrokeColor]="'#6A1B9A'"
        [animationDuration]="600"
        [animation]="true">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [radius]="100"
        [percent]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageSrc]="'../assets/excel.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [innerStrokeWidth]="8"
        [outerStrokeWidth]="8"
        [innerStrokeColor]="'#52BE80 '"
        [outerStrokeColor]="'#009688'"
        [animationDuration]="600"
        [animation]="true">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [radius]="100"
        [percent]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageSrc]="'../assets/Idioma.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [innerStrokeWidth]="8"
        [outerStrokeWidth]="8"
        [innerStrokeColor]="'#33BFFF'"
        [outerStrokeColor]="'#2E86C1 '"
        [animationDuration]="600"
        [animation]="true">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [radius]="100"
        [percent]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageSrc]="'../assets/TE.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="120"
        [innerStrokeWidth]="8"
        [outerStrokeWidth]="8"
        [innerStrokeColor]="'#ABB2B9'"
        [outerStrokeColor]="'#1F618D'"
        [animationDuration]="600"
        [animation]="true">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [radius]="100"
        [percent]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [imageSrc]="'../assets/comunicacion.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [innerStrokeWidth]="8"
        [outerStrokeWidth]="8"
        [innerStrokeColor]="'#2196F3 '"
        [outerStrokeColor]="'#1976D2'"
        [animationDuration]="600"
        [animation]="true">
        </circle-progress>
    </div>

</div> 

