<div class="container">
    <div class="d-flex">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <img src="../../../assets/yo 4x4.jpg" class="img-fluid" id="fotoperfil">
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <h2 id="nombre">Jorge Abregú</h2>
                <h3>Desarrollador Full Stack Jr.</h3>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <span id="parrafo1">
                    <h1>Acerca de Mi</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, ratione rerum, ullam cupiditate
                        officiis
                        necessitatibus velit et distinctio in optio, unde earum assumenda aperiam deserunt nihil laborum
                        repellat. Labore, perferendis!</p>
                </span>
            </div>
        </div>
    </div>
</div>